  /* Top Navbar ------------------ */

.top-navbar {
    background-color: #333;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .top-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .top-navbar-links {
    list-style-type: none;
    display: flex;
  }
  
  .top-navbar-links li {
    margin-right: 20px;
  }
  
  .top-navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .top-navbar-link:hover {
    color: #f0a500;
  }
  
  .top-navbar-link.active {
    font-weight: bold;
    text-decoration: underline;
  }


  /* Side Navbar ------------------ */
.side-navbar {
    background-color: #333;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 5rem; 
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .side-navbar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px; 
  }
  
  .side-navbar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .side-navbar-links li {
    margin-bottom: 20px;
  }
  
  .side-navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1rem; 
    display: block;
    width: 100%; 
    text-align: center; 
  }
  
  .side-navbar-link:hover {
    color: #f0a500;
  }
  
  .side-navbar-link.active {
    font-weight: bold;
    text-decoration: underline;
  }
  